/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!../../node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.page_chat-input__Voth0{
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
}
.page_button__52WaL{
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
}
